{% extends "base_generic.html" %}

{% block  title %} | patrickbeeson.com{% endblock %}

{% block secondary_content %}
<h2>Other contact methods</h2>
<div id="more_contact">
	<ul>
		<li>
			<h3>E-mail</h3>
			<p>patrick(at)patrickbeeson(dot)com</p>
		</li>
		<li>
			<h3>Instant message</h3>
			<ul>
				<li>patrickbeeson(at)gmail(dot)com <a href="http://www.google.com/talk/">(GTalk)</a></li>
				<li>corporationofme <a href="http://www.aim.com/">(AIM)</a></li>
			</ul>
		</li>
		<li>
			<h3>Social networks</h3>
			<ul>
				<li><a href="http://www.facebook.com/profile.php?id=27403640" title="My Facebook profile">Facebook</a></li>
				<li><a href="http://www.linkedin.com/in/patrickbeeson" title="My LinkedIn profile">LinkedIn</a></li>
				<li><a href="http://twitter.com/patrickbeeson" title="My Twitter profile">Twitter</a></li>
				<li><a href="https://plus.google.com/109346761978820355163/posts?hl=en" title="My Google + profile">Google +</a></li>
				<li><a href="http://flickr.com/photos/patrickbeeson/" title="My Flickr profile">Flickr</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endblock %}