{% extends "blog/entry_detail.html" %}

{% block title %} | patrickbeeson.com{% endblock %}

{% block meta_description %}Patrick Beeson is a communication technologist specializing in content strategy and Web development in Roanoke, VA.{% endblock %}
{% block meta_keywords %}Beason, Beson, journalism, new media, Virginia Tech Carilion Research Institute, cycling, cyclocross, Web design, Web development, Web standards, Django, Python, media, newspapers, public relations, communications, homebrew, beer, brewing{% endblock %}

{% block secondary_content %}{% endblock %}

{% block google_analytics %}{% endblock %}